* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layer1 */
.img_Background img{
    margin-bottom: 0px ;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
    z-index: -1; /* Đặt dưới header */
}

header.header_home_menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(128, 128, 128, 0.5);
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: Tahoma, sans-serif;
    font-size: 20px;
    color: white;
    transition: background-color 0.3s ease;
    z-index: 1000;
}

header.header_home_menu.scrolled {
    background-color: rgb(0, 0, 0);
}

header.header_home_menu img {
    display: inline-block;
    vertical-align: middle;
}

header.header_home_menu .menu{
    list-style: none;
    display: flex;
    gap: 20px;
    column-gap: 4cm;
}
header.header_home_menu .social_icon {
    list-style: none;
    display: flex;
    gap: 20px;
    column-gap: 1cm;
}

header.header_home_menu .menu li,
header.header_home_menu .social_icon li {
    position: relative;
}

header.header_home_menu .menu li a,
header.header_home_menu .social_icon li a,
header.header_home_menu .social_icon li i {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

header.header_home_menu .menu li:hover .text_header{
    color: yellow;
    text-decoration: underline;
    transition: 0.4s;
}

header.header_home_menu .social_icon li:hover i {
    transition: 0.3s;
}

header.header_home_menu .social_icon li {
    position: relative;
}
header.header_home_menu .social_icon li .dropdown {
    display: none;
    position: absolute;
    top: 30px;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    width: 200px; /* Đặt chiều rộng của dropdown */
    text-align: left;
    visibility: hidden;
    opacity: 0; 
    transition: 0.5s;
}

header.header_home_menu .social_icon li .dropdown li {
    padding: 10px 0;
    color: white;
    font-size: 16px;
    border-bottom: 1px solid rgb(134, 134, 134); /* Thêm gạch ngang ngăn cách */
    transition: 0.5s;
}

header.header_home_menu .social_icon li .dropdown li:last-child {
    border-bottom: none; /* Bỏ gạch ngang cho phần tử cuối cùng */
}

header.header_home_menu .social_icon li:hover .dropdown {
    display: block;
    transition: 0.5s;
    opacity: 1;
    visibility: visible;
}
header.header_home_menu .social_icon li .dropdown:hover{
    display: block;
    transition: 0.5s;
    opacity: 1;
    visibility: visible;
}

header.header_home_menu .social_icon li .dropdown h5,
header.header_home_menu .social_icon li .dropdown span {
    color: white;
    font-size: 16px;
}


/* layer2 */
.layer2{
    padding-top: 17px;
    margin-top: 5px;
    text-align: center;
    font-size: 27px;
}

/* layer3 */
.layer3, .layer4{
    padding-top: 50px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.layer5{
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.layer3 .text,
.layer4 .text,
.layer5 .text {
    max-width: 800px; /* Giới hạn chiều rộng để cân đối */
    margin-right: 10px; /* khoảng cách giữa text và ggMap*/
    padding: 3px; /* Thêm khoảng cách bên trong */
    line-height: 1.5; /*  khoảng cách dòng  */
    font-size: 18px; /* Cỡ chữ */
    text-align: justify; /* Căn chỉnh đều hai bên */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.layer3 .text h3,
.layer4 .text h3,
.layer5 .text h3  {
    font-size: 30px;
}
.layer3 .text p,
.layer4 .text p,
.layer5 .text p {
    color: rgb(105, 95, 92);
}
.layer3 .ggMap img,
.layer4 .ggMap img,
.layer5 .ggMap img{
    border-radius: 10px;
}

/* footer */
.footer{
    width: 100%;
    height: 300px;
    margin: auto;
    padding-top: 59px;
    background-color: black;
    display:flex;
    justify-content: space-evenly;
}
.showroom_footer{
    display: block;
}
.suport_footter{
    display: block;
}
.follow_footer{
    display: block;
}

.showroom_footer h2{
    align-items: center;
    align-content: center;
    color: white;
}
.suport_footter h2{
    align-items: center;
    align-content: center;
    color: white;
}
.follow_footer h2{
    align-items: center;
    align-content: center;
    color: white;
} 

.showroom_footer ul li{
    list-style-type: disc;
    color: rgb(204, 203, 203);
    font-size: 18px;
}
.suport_footter ul li{
    list-style-type: disc;
    color: rgb(204, 203, 203);
    font-size: 18px;
}
.follow_footer .icon_footer{
    margin-top: 10px;
}
.follow_footer .icon_footer i{
    margin: 3px;
    padding: 10px;
}

