
*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    border: 0;
    list-style-type: none;
}

body {
    width: 100%;
    background-color: rgb(43, 43, 43);
    overflow-x: hidden;
}

/* header */
.header_home_menu{
    width: 100%;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    position: fixed;
    padding: 10px 30px;
    transition: 0.5s;

    /* background-color: rgb(101, 102, 102); */
    
}

.header_home_menu img{
    align-items: center;
}

.menu{
    display: flex;
    align-items: center;
    column-gap: 1cm;
}
.menu a{
    color: white;
    padding: 0.1rem 0.5rem;
    margin: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
}
.menu a:hover{
    color: yellow;
    text-decoration: underline;
    transition: 0.7s;
}

.social_icon{
    display: flex;
    align-items: center;
    column-gap: 1.1cm;
}
.social_icon a{
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
}

.social_icon li a:hover{
    color:red;
    transition: 0.7s;
}
/* layer1 */
/* .img_layer1{
    margin-bottom: auto;
    padding: auto;
} */
/* LAYER_2 */
.layer_2{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 0   ;
}
.cerfiticate{
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
}
.freeship{
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
}
.support{
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
}

/* layer_3 */
.layer_3{
    text-align: center;
    padding: 35px;
    
}

/* layer_4 */
.layer_4{
    margin: auto;
    width: 100%;
    height: 950px;
    display: flex;
    padding: auto;
    background-color: rgb(255, 255, 255);
    justify-content: center;


}
/* layer_4_pic_1 */
.Lay4_col_1_rowspan_2_pic_1{
    position: relative;
    margin-right: 1px;
    

}
.Lay4_col_1_rowspan_2_pic_1 img{
    width: 800px;
    height: 950px;
    display: block;
    margin: auto;


}
.text_layer4_1{
    width: 100%;
    height: 90%;
    top: 0;
    left: 0;
    right: 10px;
    text-align: center;
    position: absolute;
    align-content: center;
    padding: 30px;
    margin: auto;
    transition: 0.5s;
}

/*layer_4_pic_2*/
.lay4_col_2{
    width: 100%;
    position: relative;
}
.lay4_row_1{
    display: flex;
    text-align: center;
    align-content: center;
}
.pic_2{
    position: relative;
    margin-right: 1px;

}
.text_layer4_2{
    width: 100%;
    height: 90%;
    top: 0;
    text-align: center;
    position: absolute;
    align-content: center;
    transition: 0.5s;
}

/*layer_4_pic_3*/
.pic_3{
    position: relative;
    margin-right: 5px;
}
.pic_3 img{
    height: 417px;
    width: 600px;
}
.text_layer4_3{
    width: 100%;
    height: 90%;
    top: 0;
    text-align: center;
    position: absolute;
    align-content: center;
    transition: 0.5s;
}

/* layer4_pic_4 */
.lay4_row_2_pic_4{
    position: relative;
}
.lay4_row_2_pic_4 img{
    width: 1170px;
    height: 529px;
}
.text_layer4_4{
    width: 100%;
    height: 90%;
    top: 0;
    text-align: center;
    position: absolute;
    align-content: center;
    transition: 0.5s;
}

/* Layer_5 */
.layer_5{
    width: 100%;
    height: 800px;
    display: flex;
    background-color: white;
}
.col_1_rowspan2{
    width: 70%;
    margin-right: 4px;
    overflow: hidden;
    cursor: pointer;
}
.col_1_rowspan2 img{
    width: 100%;
    height: 100%;
    display: block;
    transition: 0.3s;
    filter: brightness(0.8);
}

.col_1_rowspan2 img:hover{
    /* zoom img */
    transform: scale(1.1);
    /* tăng độ sáng */
    filter: brightness(1.1); 
} 

.col_2{
    width: 30%;
    height: 800px;
}
.col_2 .img_row2_pic1, .col_2 .img_row2_pic2{
    width: 100%;
    height: 49.8%;
    overflow: hidden;
    cursor: pointer;
}
.col_2 .img_row2_pic1{
    margin-bottom: 4px;
}

.col_2 img{
    width: 100%;
    height: 100%;
    display: block;
    /* độ phủ kín khung */
    object-fit: cover;
    transition: 0.3s;
    filter: brightness(0.8);
}
.col_2 img:hover{
    /* zoom img */
    transform: scale(1.1);
    /* tăng độ sáng */
    filter: brightness(1.1); 
} 


/* footer */
.footer{
    width: 100%;
    height: 300px;
    margin: auto;
    background-color: black;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.showroom_footer{
    display: block;
}
.suport_footter{
    display: block;
}
.follow_footer{
    display: block;
}

.showroom_footer h2{
    align-items: center;
    align-content: center;
    color: white;
}
.suport_footter h2{
    align-items: center;
    align-content: center;
    color: white;
}
.follow_footer h2{
    align-items: ;
    align-content: center;
    color: white;
} 

.showroom_footer ul li{
    list-style-type: disc;
    color: rgb(204, 203, 203);
    font-size: 18px;
}
.suport_footter ul li{
    list-style-type: disc;
    color: rgb(204, 203, 203);
    font-size: 18px;
}
.follow_footer .icon_footer{
    margin-top: 10px;
}
.follow_footer .icon_footer i{
    margin: 3px;
    padding: 10px;
}
